$maincolor : #eae6e3;   


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    background-color: $maincolor;

}

section {
    max-width: 800px;
    margin: 50px auto;
}

.prettytext{
    color: rgb(141, 66, 78);
    font-weight: bolder;
}